<form (submit)="save()" [formGroup]="formProfissional">
    
    <div class="grid">

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required
               formControlName="nome" class="form-control"
               [ngClass]="{'is-invalid': form.nome.invalid && form.nome.touched, 'is-valid': form.nome.valid && form.nome.touched}">
        <small *ngIf="form.nome.hasError('required')">Campo obrigatório</small>
        <small *ngIf="form.nome.hasError('notBlank')">Digite ao menos 3 caracteres (sem considerar espaços em branco)</small>

        <label for="registroConselho">Registro</label>
        <input type="text" name="registroConselho" id="registroConselho" required
               formControlName="registroConselho" class="form-control"
               [ngClass]="{'is-invalid': form.registroConselho.invalid && form.registroConselho.touched, 'is-valid': form.registroConselho.valid && form.registroConselho.touched}">
        <small *ngIf="form.registroConselho.hasError('required')">Campo obrigatório</small>

        <label for="especialidade">Especialidade</label>
        <select name="especialidade" id="especialidade" required
                formControlName="especialidade_id" class="form-select"
                [ngClass]="{'is-invalid': form.especialidade_id.invalid && form.especialidade_id.touched, 'is-valid': form.especialidade_id.valid && form.especialidade_id.touched}">
            <option *ngFor="let e of especialidades" [ngValue]="e.id">{{e.nome}}</option>
        </select>
        <small *ngIf="form.especialidade_id.hasError('required')">Campo obrigatório</small>

        <label for="unidade">Unidade</label>
        <select name="unidade" id="unidade" required
                formControlName="unidade_id" class="form-select"
                [ngClass]="{'is-invalid': form.unidade_id.invalid && form.unidade_id.touched, 'is-valid': form.unidade_id.valid && form.unidade_id.touched,}">
            <option *ngFor="let u of unidades" [ngValue]="u.id">{{u.nome}}</option>
        </select>
        <small *ngIf="form.unidade_id.hasError('required')">Campo obrigatório</small>

        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" id="telefone" required
               formControlName="telefone" class="form-control"
               [ngClass]="{'is-invalid': form.telefone.invalid && form.telefone.touched, 'is-valid': form.telefone.valid && form.telefone.touched}">
        <small *ngIf="form.telefone.hasError('required')">Campo obrigatório</small>
        <small *ngIf="form.telefone.hasError('pattern')">Telefone deve seguir o formato (55) 55555-5555</small>

        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" required
               formControlName="email" class="form-control"
               [ngClass]="{'is-invalid': form.email.invalid && form.email.touched, 'is-valid': form.email.valid && form.email.touched}">
        <small *ngIf="form.email.hasError('required')">Campo obrigatório</small>
        <small *ngIf="form.email.hasError('email')">Formato inválido</small>
        
    </div>

    <input type="button" value="Cancelar" routerLink="../">
    <input type="submit" value="Salvar" [disabled]="formProfissional.invalid">
    
</form>
