<form (submit)="save()" [formGroup]="formAgenda">

    <div class="grid">

        <label for="profissional">Profissional</label>
        <select name="profissional" id="profissional" required
                formControlName="profissional_id">
            <option *ngFor="let item of profissionais"
                    [ngValue]="item.id">{{item.nome}}</option>
        </select>
        <small *ngIf="form.profissional_id.hasError('required')">Campo obrigatório</small>

        <label for="paciente">Paciente</label>
        <select name="paciente" id="paciente" required
                formControlName="paciente_id">
            <option *ngFor="let item of pacientes"
                    [ngValue]="item.id">{{item.nome}}</option>
        </select>
        <small *ngIf="form.paciente_id.hasError('required')">Campo obrigatório</small>

        <label for="data">Data</label>
        <input type="date" name="data" id="data" required
               formControlName="data" min="{{hoje}}">
        <small *ngIf="form.data.hasError('required')">Campo obrigatório</small>
        <small *ngIf="form.data.hasError('diaUtil')">Não é um dia útil</small>

        <label for="hora">Hora</label>
        <select name="hora" id="hora" required
                formControlName="hora">
            <option value="">Selecione</option>
            <option value="14:00:00">14:00</option>
            <option value="14:30:00">14:30</option>
            <option value="15:00:00">15:00</option>
            <option value="15:30:00">15:30</option>
            <option value="16:00:00">16:00</option>
            <option value="16:30:00">16:30</option>
            <option value="17:00:00">17:00</option>
            <option value="17:30:00">17:30</option>
            <option value="18:00:00">18:00</option>
            <option value="18:30:00">18:30</option>
            <option value="19:00:00">19:00</option>
            <option value="19:30:00">19:30</option>
            <option value="20:00:00">20:00</option>
        </select>
        <small *ngIf="form.hora.hasError('required')">Campo obrigatório</small>

        <label for="convenio">Convênio</label>
        <select name="convenio" id="convenio"
                formControlName="convenio_id">
            <option [value]="null">Sem convênio</option>
            <option *ngFor="let item of convenios"
                    [ngValue]="item.id">{{item.nome}}</option>
        </select>

    </div>

    <input type="button" value="Cancelar" routerLink="../">
    <input type="submit" value="Salvar" [disabled]="formAgenda.invalid">

</form>
